body {
  background-color: #e8e673;
  font-family: "PT Sans", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.mainContainer {
  background: #e0dd3e;
  max-width: 500px;
  margin: 10px auto;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #f9f9dc;
  font-weight: 600;
}

.search-form-input {
  background-color: #e8e673;
  border-width: 2px;
  border-style: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

.search-form-button {
  background-color: black;
  border-width: 2px;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  color: #e0dd3e;
}

.searchIcon {
  color: #e0dd3e;
  font-size: 15px !important;
}

.time {
  color: black;
  padding: 2px 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
}

.currentWeatherIcon {
  font-size: 50px !important;
  margin: 30px 0 0% 0;
}

.locationTemperature {
  display: flex;
  justify-content: center;
  margin: 5px auto;
}

.temperature {
  font-size: 150px;
  font-family: "Fira Sans", sans-serif;
}

.temperatureUnit {
  font-size: 20px;
  font-weight: 600;
}

.weatherInfo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.currentWind,
.currentHumidity {
  flex: 1;
  max-width: fit-content;
  background-color: black;
  color: #e0dd3e;
  padding: 40px;
  border-radius: 5px;
  line-height: 15px;
  margin: 0px 10px;
}

/* .currentWind,
.currentHumidity {
  background-color: black;
  color: #e0dd3e;
  padding: 20px;
  border-radius: 5px;
  line-height: 15px;
} */

.humidityIcon,
.windIcon {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
  font-size: 50px !important;
  margin: 0px 0px 30px 0px;
}

#humidity,
#wind {
  font-size: 25px;
  font-family: "Fira Sans", sans-serif;
}

p {
  font-size: 14px;
}

footer {
  font-size: 14px;
  color: rgb(95, 94, 94);
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
}
