body {
  background-color: #e8e673;
  font-family: "PT Sans", sans-serif;
}

a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.mainContainer {
  background: #e0dd3e;
  max-width: 500px;
  margin: 10px auto;
  padding: 50px;
  border-radius: 15px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.webIcon {
  font-size: 24px !important;
  font-weight: 300 !important;
}
.logo {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #f9f9dc;
  font-weight: 600;
}

.searchForm {
  margin-bottom: 40px;
}

.search-form-input {
  background-color: #e8e673;
  border-width: 2px;
  border-style: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
}

.search-form-button {
  background-color: black;
  border-width: 2px;
  border-style: none;
  border-color: black;
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  color: #e0dd3e;
}

.searchIcon {
  color: #e0dd3e;
  font-size: 15px !important;
}

.time {
  color: black;
  padding: 2px 20px;
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
}

.locationTemperature {
  display: flex;
  justify-content: center;
  margin: 30px auto 0px;
}

.weatherIcon {
  width: 88px;
  height: 88px;
  margin-top: 5px;
}

.temperature {
  font-size: 88px;
  font-family: "Fira Sans", sans-serif;
}

.temperatureUnit {
  font-size: 20px;
  font-weight: 600;
}

.description {
  margin: -10px auto 20px;
}

.weatherInfo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.currentWind,
.currentHumidity {
  flex: 1;
  max-width: fit-content;
  background-color: black;
  color: #e0dd3e;
  padding: 20px;
  border-radius: 5px;
  line-height: 15px;
  margin: 0px 10px;
}

.humidityIcon,
.windIcon {
  font-size: 30px !important;
  margin: 0px 0px 20px 0px;
}

#humidity,
#wind {
  font-size: 25px;
  font-family: "Fira Sans", sans-serif;
}

p {
  font-size: 14px;
}

footer {
  font-size: 14px;
  color: rgb(95, 94, 94);
  margin-top: 20px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
}
